{% extends 'customer/base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='favorites.css') }}">
{% endblock %}
{% block body %}
<main class="main-content">
  <h2 class="section-title">My Favorite Recipes</h2>
  <div class="content">
    <div class="cards">
      {% for recipe in recipes %}
      <div class="card">
        <img src="{{ url_for('serve_image', filename=recipe['image']) }}" alt="{{ recipe['title'] }}">
        <div class="card-info">
          <strong>{{ recipe['title'] }}</strong>
          <small>{{ recipe['category'] }}</small>
          <a href="{{ url_for('view_recipe_customer', recipe_id=recipe['id']) }}" class="button-link">View Recipe</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
